/* You can add global styles to this file, and also import other style files */

div#ventana {
    position:absolute;
    left: 200px;
    top: 45px;
    padding-left: 10px;
    width: calc(100% - 200px);
}

.lbltitulo {
    background: black;
    width: 100%;
    height: 25px;
    position: relative;
    margin-top: 4px;
    border-radius: 10px;
    padding-left:9px;
    color: white;
    font: 600;
    font-style: italic;
    right: 4px;
}

div#adddata i {
    position:absolute;
    color: brown;
    right: 15px;
    background: white;
    width: 29px;
    height: 29px;
    top: 0;
    border-radius: 25px;
    text-align: center;
    padding-top: 6px;
    cursor:pointer;
}