<app-menulateral></app-menulateral>
<div id="ventana">
    <div class="lbltitulo">
        Modulo Usuarios
        <div id="adddata">
            <i class="fa-solid fa-plus" (click)="Nuevo()"></i>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Estado</th>       
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of datos">
            <tr (click)="EditarId(item._id)">        
              <td>{{item.nombre}}</td>
              <td>{{item.apellido}}</td>
              <td>{{item.email}}</td>
              <td>
                <span *ngIf = "item.rol == '1'">Administrador</span>
                <span *ngIf = "item.rol == '2'">Vendedor</span>
                <span *ngIf = "item.rol == '3'">Cliente</span>
              </td>
              <td>
                <span *ngIf = "item.estado == '0'">Desactivado</span>
                <span *ngIf = "item.estado == '1'">Activado</span>
              </td>            
            </tr>
          </ng-container>
        </tbody>
      </table>
</div>

<!-- Modal -->
<div class="modal fade" id="formdatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admin usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="name" class="form-control" id="nombre" [(ngModel)]="nombre">
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="apellido" class="form-control" id="apellido" [(ngModel)]="apellido">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" [disabled]="IdSeleccionado != ''">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" [disabled]="IdSeleccionado != ''">
          </div>
          <div class="form-group">
            <label for="rol">Rol</label>
            <select class="form-control" id="rol" [(ngModel)]="rol">
            <option value="1">Administrador</option>
            <option value="2">Vendedor</option>
            <option value="3">Cliente</option>
          </select>
          </div>

          <div class="form-group">
            <label for="nombre">Estado</label>
            <select class="form-control" id="estado" [(ngModel)]="estado">
            <option value="0">Desactivado</option>
            <option value="1">Activo</option>
          </select>
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="Guardar()" *ngIf="IdSeleccionado == '' ">Guardar</button>
        <button type="button" class="btn btn-primary" (click)="Actualizar()" *ngIf="IdSeleccionado != '' ">Actualizar</button>
        <button type="button" class="btn btn-danger" (click)="Eliminar()" *ngIf="IdSeleccionado != '' ">Eliminar</button>
      </div> 
  </div>
</div>


