
<body> 

    <app-header></app-header>
    <br>
  
    <div>
      <br>
      <div>
        <h2 class="welcome">NAZARIO</h2>     
      </div>
      <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                           
                    <!-------------      image     ------------->
                    
                    <img src="/assets/imgs/logonazario.png" alt="Logo Nazario">
                    <div class="text">
                        <!-- <p>Bienvenido!</p> -->
                    </div>
                    
                </div>
                <div class="col-md-6 right">
                    
                    <div class="input-box">
                       
                       <header>Activa tu cuenta</header>
                       <div class="input-field">
                            <input type="text" class="input" id="email" [(ngModel)]="email">
                            <label for="email">Email</label> 
                        </div> 
                       <div class="input-field">
                            <input type="type" class="input" id="password" [(ngModel)]="azar">
                            <label for="password">Codigo</label>
                        </div> 
                       <div class="input-field">
                            
                            <input type="submit" class="submit" (click)="Activar()" value="Activar">
                       </div> 
                       <div class="signin">
                        <span>Para nosotros es un gusto asesorarte</span>
                       </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
  </div>
  
    <app-footer></app-footer>  
  </body>
  
  
  
  
  
  
  
  
