<app-header></app-header>

<body>

    <br>

    <div>
        <h2 class="welcome">NAZARIO</h2>        
        <br>
    </div>

  
      <h2 class="location">Nuestra Ubicación</h2>
      <p class="text">Encuéntranos en el distrito de Negocios Milla de Oro, ubicado en el Poblado, Medellín</p>
      <p class="text">Carrera 43 A, Cl. 3 Sur #130, Medellín, Antioquia</p>
  
  
      <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4765470715583!2d-75.57471942432093!3d6.200689026829058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46828772df8555%3A0xe14bb17d52040ef3!2sMilla%20de%20Oro%20Distrito%20de%20Negocios!5e0!3m2!1ses!2sco!4v1723135263057!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>

<app-footer></app-footer>