

<body>

  <app-header></app-header>  
  <br>

  <div class="header">

    <h2 class="welcome">NAZARIO</h2>
        
    <br>
  </div>

    <h2 class="location">Nuestro Equipo</h2>
    <p class="text">Para nosotros es un placer asesorate en la compra de tu próximo vehículo.</p>
    <p class="text">A continuación está el equipo que lo hace posible.</p>

<br>


    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <img src="assets/imgs/businessman1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Julian Escobar</h5>
              <p class="card-text">Gerente</p>
              <a href="https://wa.me/+573045817705?text='Me interesa uno de sus vehiculos" target="_blank" class="btn btn-primary">Contactar</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <img src="assets/imgs/businessman2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cristian Acevedo</h5>
              <p class="card-text">Administrador</p>
              <a href="https://wa.me/+573045817705?text='Me interesa uno de sus vehiculos" target="_blank" class="btn btn-primary">Contactar</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <img src="assets/imgs/businessman3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Santiago Ruiz</h5>
              <p class="card-text">Gerente de ventas</p>
              <a href="https://wa.me/+573045817705?text='Me interesa uno de sus vehiculos" target="_blank" class="btn btn-primary">Contactar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <img src="assets/imgs/businessman4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jose Londoño</h5>
              <p class="card-text">Asesor de ventas</p>
              <a href="https://wa.me/+573045817705?text='Me interesa uno de sus vehiculos" target="_blank" class="btn btn-primary">Contactar</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <img src="assets/imgs/businesswoman.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juliana Lopez</h5>
              <p class="card-text">Asesora de ventas</p>
              <a href="https://wa.me/+573045817705?text='Me interesa uno de sus vehiculos" target="_blank" class="btn btn-primary">Contactar</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <img src="assets/imgs/businesswoman2-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camila Zapata</h5>
              <p class="card-text">Asesora de ventas</p>
              <a href="https://wa.me/+573045817705?text='Me interesa uno de sus vehiculos" target="_blank" class="btn btn-primary">Contactar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

<br>

    <p class="text-bottom">Gracias por permitirnos acercarte a tus sueños, te esperamos!</p>

    <br>

</body>

<app-footer></app-footer>
