<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a routerLink="/home">
                    <h1 class="title-footer">Nazario</h1>
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Sobre Nosotros</h2>
            <p>Desde nuestra creacion en 2002, nos comprometimos en reflejar nuestra excelencia en cada uno de nuestros vehiculos</p>
        </div>
        <div class="box">
            <h2>Siguenos</h2>
            <div class="red-social">
                <a href="#" class="logo"><i class="bi bi-facebook"></i></a>
                <a href="#" class="logo"><i class="bi bi-instagram"></i></a>
                <a href="#" class="logo"><i class="bi bi-youtube"></i></a>
                <a href="#" class="logo"><i class="bi bi-tiktok"></i></a>
            </div>
        </div>
        
      </div>
      <div class="grupo-2">
          <small>&copy; 2024 <b>Nazario Vehiculos</b> -Todos los derechos reservados</small>
      </div>
    
  </footer>